<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "MUSIC", root_path, class: "navbar-brand logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Artistas</a>
        </li>
      </ul>
      <div class="user-info">
        <span class="user-info__name">
            Olá, <strong><%= Current.user.full_name %></strong>
        </span>
        <%= button_to "Sign Out", logout_path, {method: :delete, class: "btn btn-outline-light"} %>
      </div>
    </div>
  </div>
</nav>