@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import "bootstrap/scss/bootstrap";
@import "./alerts";
@import "./header";

h1{
    &.default-title{
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        padding-bottom: 15px;
        margin-bottom: 40px;
    }
}
.section-forms{
    height: 100vh;
    background: #ecf0f4;
    >div{
        height: 100%;
    }
    .section-forms__box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .section-forms__card{
        border-radius: 5px;
        padding: 3em;
        box-shadow: 0 0 0 1px #ced4da;
        background-color: #ffffff;
    }
    .create-account{
        padding: 15px 0;
        border-top: 1px solid #ced4da;
    }
}

.cards-list{
    .cards-list__name{
        color: white;
        font-size: 24px;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: 600;
        line-height: 26px;
        padding: 0 20px;
        text-align: center;
    }
    .link-new{
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
    &.list-albums{
        &, a{
            color: #66377b;
        }
        figure{
            background-color: #66377b;
        }
    }
    a{
        color: black;
        text-decoration: none;
    }
    figure{
        background-color: black;
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .label-album{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top: 2px solid #ffffff;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            
            a, span.link{
                padding: 10px;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                text-decoration: none;
            }
            a + a{
                border-left: 1px solid #ffffff;
            }
        }

        img{
            width: 50px;
            height: auto;
            transition: all 0.25s;
        }
    }

    .cards-list__item{
        &:hover{
            figure{
                img{
                    width: 60px;
                }
            }
        }
    }
}
